<div class="w-100">
  <div *ngIf="isLoading" class="mt-5 h-100">
    <div class="loader" fxLayout="row" fxLayoutAlign="center center" class="w-100 h-100">
      <app-loader size="2" [isLoading]="true"></app-loader>
    </div>
  </div>

  <div *ngIf="!isLoading" class="page-layout">
    <div class="mt-5">
      <form class="edit-userform" fxLayout="column" [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
        <!-- row 1 -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30px">
          <div fxFlex="50">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput type="text" placeholder="firstname" formControlName="f_name" />
              <mat-error *ngIf="updateUserForm.controls.f_name.invalid || updateUserForm.controls.f_name.touched">
                <span *ngIf="updateUserForm.controls.f_name.errors?.required"> First name is required. </span>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput type="text" placeholder="last name" formControlName="l_name" />
              <mat-error *ngIf="updateUserForm.controls.l_name.invalid || updateUserForm.controls.l_name.touched">
                <span *ngIf="updateUserForm.controls.l_name.errors?.required"> Last name is required. </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- row 2  -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30px">
          <div fxFlex="50">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="email" formControlName="email" />
              <mat-error *ngIf="updateUserForm.controls.email.invalid || updateUserForm.controls.email.touched">
                <span *ngIf="updateUserForm.controls.email.errors?.required"> Email is required. </span>
                <span *ngIf="updateUserForm.controls.email.errors?.pattern"> Please enter a valid email address. </span>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="password" formControlName="password" />
              <mat-error *ngIf="updateUserForm.controls.password.invalid || updateUserForm.controls.password.touched">
                <span *ngIf="updateUserForm.controls.password.errors?.required"> Password is required. </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- row 3  -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30px">
          <div fxFlex="50">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" placeholder="+923430531070" formControlName="phone_number" />
              <mat-error
                *ngIf="updateUserForm.controls.phone_number.invalid || updateUserForm.controls.phone_number.touched"
              >
                <span *ngIf="updateUserForm.controls.phone_number.errors?.required"> Phone number is required. </span>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pt-3">
            <div *ngIf="!imgURL">
              <input #fileInput type="file" #file hidden (change)="previewImage($event)" />
              <button type="button" class="btn-image-upload" (click)="file.click()">
                <mat-icon aria-hidden="false">add_photo_alternate</mat-icon>
                Upload Image
              </button>
            </div>

            <div *ngIf="imgURL">
              <img class="uploaded-image" [src]="imgURL" alt="User Image" />
              <img class="delete-icon" src="/assets/images/delete-icon.svg" (click)="removeImage()" alt="" />
            </div>
          </div>
        </div>

        <div class="mt-4" fxLayout="row" fxLayoutAlign="center">
          <button type="submit" class="btn custom-btn-primary">Update User</button>
        </div>
      </form>
    </div>
  </div>
</div>
