:host {
  display: flex;
  flex: 1;

  .update-shopform {
    width: 100%;

    .full-width-field {
      width: 100%;
    }

    .shop-image {
      width: 40%;
      height: 15vh;
      object-fit: cover;
      border-radius: 15px;
    }

    input[type="time"] {
      background: transparent;
      border: 1px solid #e2e2e2;
      padding: 18px 2px;
    }
  }
}
