<div class="container">
  <mat-card>
    <!-- <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p> -->
    <mat-card-content>
      <mat-card-title translate>Home Page !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur fuga praesentium nesciunt, iusto
          veritatis, sint porro placeat tenetur sapiente est, voluptatum tempora commodi laudantium magni nihil
          provident ex molestiae?
        </p>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
