:host {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .worker-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}
