:host {
  display: flex;
  flex: 1;

  .create-adform {
    width: 100%;

    .full-width-field {
      width: 100%;
    }

    input[type="time"] {
      background: transparent;
      border: 1px solid #e2e2e2;
      padding: 18px 2px;
    }
  }
}
